body {
  font-family: "Helvetica Neue", sans-serif;
}

:root {
  --main-fs: 1;
  --base-font-size: 1;
  --zoom-container: 1;
}

@media all and (max-width: 1450px)
{
  :root {
    --zoom-container: 0.9;
  }
}

@media all and (max-width: 1278px) {
  :root {
    --zoom-container: 0.8;
  }
}


@media all and (max-width: 1122px) {
  :root {
    --zoom-container: 0.7;
  }
}


.container-zoom {
  zoom: var(--zoom-container);
}

.header__menu {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(7.5px);
}

.home-banner {
  background: url('../img/banner.png') no-repeat;
  background-size: cover;
}

.bg-custom-gradient{
  background-image: linear-gradient(180deg, #0B162A 0%, #010308 100%);
}

.bg-cover{
  background-size: cover;
}

#myVideo {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 1;
}