/*@font-face{
  font-family: "Helvetica Neue My", sans-serif;
  font-style: normal;
  font-weight: normal;
  src: url(../font/HelveticaNeueCyr-Medium.ttf) format('ttf')
}

@font-face{
  font-family: "Helvetica Neue My", sans-serif;
  font-style: italic;
  font-weight: normal;
  src: url(../font/HelveticaNeueWorld-46LtIt.ttf) format('ttf')
}

@font-face{
  font-family: "Helvetica Neue My", sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url(../font/HelveticaNeueCyr-Roman.ttf) format('ttf')
}

@font-face{
  font-family: "Helvetica Neue My", sans-serif;
  font-style: italic;
  font-weight: 500;
  src: url(../font/HelveticaNeueWorld-56It.ttf) format('ttf')
}

@font-face{
  font-family: "Helvetica Neue My", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url(../font/HelveticaNeueWorld-75Bold.ttf) format('ttf')
}

@font-face{
  font-family: "Helvetica Neue My", sans-serif;
  font-style: italic;
  font-weight: 700;
  src: url(../font/HelveticaNeueWorld-76BoldIt.ttf) format('ttf')
}*/
@import "./tailwind";
@import "./main";
@import "../font/font/stylesheet.css";